import(graphics)
useDynLib(PCICt)
S3method(c, PCICt)
S3method(rep, PCICt)
S3method(seq, PCICt)
S3method(trunc, PCICt)
S3method(mean, PCICt)
S3method(range, PCICt)
S3method(julian, PCICt)
S3method(diff, PCICt)
S3method(cut, PCICt)
S3method(is.numeric, PCICt)
S3method(min, PCICt)
S3method(max, PCICt)
S3method(print, PCICt)
S3method(format, PCICt)
S3method(summary, PCICt)
S3method(unique, PCICt)
S3method(axis, PCICt)
S3method(Axis, PCICt)
S3method(pretty, PCICt)
S3method(as.character, PCICt)
S3method(round, PCICt)
S3method(as.POSIXlt, PCICt)
S3method(as.POSIXct, PCICt)
S3method(Ops, PCICt)
export(.PCICt, as.PCICt, as.PCICt.default, as.PCICt.numeric, as.PCICt.POSIXlt, as.PCICt.POSIXct, "+.PCICt", "-.PCICt", "[.PCICt", "[<-.PCICt")
